<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
   <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2f3252;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #101335;
}
</style>
</head>
<body style="height: 688px">

    <div style="height: 511px">
        <ul>
  <li><a href="ownerhome.html">Home</a></li>
  <li><a  href="addproperty.html">add property</a></li>
  <li><a class="active" href="viewproperty.html">view property</a></li>
  <li><a href="addcustomer.html">add user</a></li>
  <li><a href="viewcustomer.html">view user</a></li>
  <li><a href="viewcomplaint.html">View complaints</a></li>
  <li><a href="updateproperty.html">Update property</a></li>
</ul>
        <img alt="" src="unnamed.jpg" style="height: 160px; width: 1320px" />
        <div style="position: absolute; background-color: #CCFFFF; top: 217px; left: 12px; height: 363px; width: 1320px;">

            <div style="position: absolute; top: 17px; left: 346px; width: 377px; height: 343px; background-color: #CCFFFF;">
            <h1 style=" text-align: center; font-size: large; background-color: #b9b9b9;">Add user</h1>

                <form action="" style="background-color: #cdf4ea">
                    <label>Customer id:</label>
                    <input id="u_id" type="text" /><br /><br />
                    <label>User name:</label>
                    <input id="name" type="text" /><br /><br />
                    <label>Phone number:</label>
                    <input id="phone_no" type="text" /><br /><br />
                    <label>Address:</label>
                    <input id="address" type="text" /><br /><br />
                    <input id="add" type="button" value="Add" />



                </form>


            </div>
        </div>
    </div>

</body>
</html>